# Dependencies
node_modules/

# Builds
dist/
build/
.next/
out/
.turbo/

# Env / secrets
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS / IDE
.DS_Store
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Tests / coverage
coverage/
.nyc_output/

# Prisma
prisma/*.db
prisma/*.db-journal

# Misc
*.tsbuildinfo
.temp/
.tmp/
